{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="http://phila2035.org/" target="_blank"><img id="site-logo" src="/static/css/images/logo.jpg"></a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
  
  <!-- google translation widget -->
  <meta name="google-translate-customization" content="af2d1f7bd33b7cff-34cb7fb4f8f58689-g09b8a7e11ee3413f-24"></meta>
  
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}

<ul class="legend">
  <li class="clearfix"><img src="/static/css/images/legend-16.png"> <strong>Strengths</strong> <small><br/>What is a strength in your district? Think about destinations, landmarks, and assets.</small></li>
  <li class="clearfix"><img src="/static/css/images/weakness-13.png"> <strong>Weaknesses</strong> <small><br/>What can or needs to be improved in the physical environment?</small></li>
  <li class="clearfix"><img src="/static/css/images/legend-15.png"> <strong>Opportunities</strong> <small><br/>What areas are opportunities for change? Think about areas that are not living up to their potential that could be repositioned.</small></li>
  <li class="clearfix"><img src="/static/css/images/legend-14.png" > <strong>Barriers</strong> <small><br/>What impediments exist to accessing your destinations and strengths?</small></li>
</ul>

<ul class="legend">
  <div id="google_translate_element"></div><script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,vi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true, gaTrack: true, gaId: 'UA-46020552-16'}, 'google_translate_element');
  }
  </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </ul>
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://shareabouts.org/" class="shareabouts-logo" target="_blank">Shareabouts</a>, <span class="nobreak">a project of <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span></p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
var mapQuest_geocode = Shareabouts.Util.MapQuest.geocode;
Shareabouts.Util.MapQuest.geocode = function(location, bounds, options) {
  // Since this is all Chicago-specific, go ahead and specify the city.
  if (location.toLowerCase().indexOf('NYC') === -1) {
    location += ', Philadelphia, PA'
  }
  return mapQuest_geocode.call(this, location, bounds, options);
}

var placeFormView_setLocation = Shareabouts.PlaceFormView.prototype.setLocation;
Shareabouts.PlaceFormView.prototype.setLocation = function(locationData) {
  placeFormView_setLocation.call(this, locationData);

  var $placeNameField = this.$('[name="name"]'),
      $approxAddress = $placeNameField.next();

  if ($approxAddress.length === 0) {
    $approxAddress = $('<p class="approx-address"></p>').insertAfter($placeNameField);
  }

  $approxAddress.html('<span class="address-label">Approximate location:</span> ' + Handlebars.templates['location-string'](locationData));
}
</script>
{% endblock %}
